/* NOT: Responsive design'de en onemli kurallar:
    * media query ile farkli boyutlara uygun etiket css'leri yazilmalidir.
    * divler icin duyarli yuzdelik degerler kullanilmalidir.
     veyahut width ve height degerlerini baz alan duyarlı olcu
      birimleri kullanilabilir. 
    * font boyutu ve resim boyutlari duyarli hale getirilmelidir.
    * belli bir genislik degerinin altina dusuldugu zaman gerekirse bazi
        nesnelerin kullaniciya gosterilmemesi gerekir.
        Bunun icin ilgili nesnelerin media query altinda display
        ozelligi none yapilir.      
*/

/* default olarak gelen margin ve padding degerlerinin temizlenmesi */
body{
    margin: 0px;
    padding: 0px;
}

.header{
    /* header icindeki baslik yazisinin ortalanmasi */
    text-align: center;
    /* responsive padding degeri. genisligi baz alir. */
    padding: 3vw;
    /* kalin font yazisi */
    font-weight: bold;
    /* responsive font size degeri */
    font-size: 1rem;
    /* arka plan degeri */
    background-color: rgb(205, 205, 205);;
}

.header h1{
    /* h1 etiketinin otomatik olarak ekledigi margin degerinin temizlenmesi */
    margin: 0;
}

.navbar{
    /* navbar arka plan rengi */
    background-color: rgb(43, 43, 43);
}

ul{
    /* liste baslik sekillerinin kaldirilmasi */
    list-style: none;
    
    /* ul etiketinin otomatik olarak ekledigi margin ve padding degerlerinin temizlenmesi */
    /* bu degerlerin eklendigini fark etmek icin Chrome->incele kismina gidilip etiketlerin sablondan kontrol edilmesi yeterlidir. */
    margin: 0;
    padding: 0;
}

li{
    /* liste elemanlarinin yanyana gelmesini saglamak icin */
    display: inline-block;
    /* liste elemanlarinin birbirinden uzaklasmasini saglamak icin */
    padding: 2%;
}

#liEnd{
    /* listenin son elemaninin navbarin en sonuna gitmesi icin */
    float: right;
}

a{
    /* a etiketinin eklemis oldugu alti cizili ozelliginin kaldirilmasi */
    text-decoration: none;
    /* yazi renginin beyaz yapilmasi */
    color: white;
}

/* navbar'da verilen float'in etkisinden kurtulmak icin */
.navbar::after{
    content: "";
    display: table;
    clear: both;
}

.content{
    /* sidebar'in content'in sagina cikabilmesi icin
        content'e float left uygulandi */
    float: left;
    /* sidebar ile content arasinda bosluk acmak icin */
    margin-right: 25px;

    /* content ile navbar arasinda bosluk acmak icin */
    margin-top: 20px;

    /* content genel divinin ekranin soluna duyarli olarak
        yakinlasip uzaklasabilmesi icin responsive margin degeri. 
        width'i baz alir. */
    margin-left: 8vw;

    /* normal pozisyonda content ekranin %60'ini kaplarç */
    width: 60%;   
}

/* sagdaki aboutme,popularpost,followme nesnelerini kapsayan divdir.
    icerdeki nesnelerin duzenli gozukmesi icin padding verildi. 
    rightside div'i normal pozisyonda ekranin %30'unu kaplar.
    %60'ını content kapliyordu. geri kalan %10 padding degerlerine gidiyor.
*/
.rightside{
    padding: 20px;
    width: 30%;
}

/* ana iceriklerin bulundugu divler. kapsayici div'i content'tir */
#content1,#content2{
    /* iceriklerin icine yazilan nesnelerin duzenli 
    gozukmesi icin her kenardan 30px padding */
    padding: 30px;
    
    /* icerikleri bulunduran content  div'lerinin 
    birbirlerine yapisik durmamasi icin*/
    margin-bottom: 10px;

    /* her content divine kenarlik ve arka plan ayarlamasi */
    border: 3px solid black;
    background-color: rgb(205, 205, 205);
}

#image{
    /* content div'leri icinde bulunan resim div'lerinin metinlere yapisik durmamasi icin */
    margin: 10px;
    /* image div'lerinin govdeye sahip olmasi icin. resim konuldugu zaman kaldirilabilir */
    padding-bottom: 280px;
    background-color: rgb(23, 23, 24);
}

.rightside{
    /* content ana div'i ile ayni akista bulunmasi icin float:left degeri verildi */
    /* content ana div'ini de float:left verilmisti */
    float: left;

    /* responsive olarak ekran genisligine gore daralmasi icin responsive olcu birimi */
    width: 20vw;
}

#aboutme,#popularpost,#followme{
    background-color: rgb(205, 205, 205);
    
    /* divlerin birbirinden uzaklasmasi icin */
    margin-bottom: 10%;
   
    /* divlerin responsive olarak yatay ve dikey genislige sahip olmasi icin responsive olcu birimleri */
    padding: 1vmin 1vmin;
    border: 3px solid black;
}

#aboutme p,#popularpost p,#followme p{
    /* responsive font-size degeri. width'i baz alir. */
    font-size: 1.5vw;
}

#sideimg{
    background-color: black;
    /* width degeri azaldikca sidebar'daki resimlerin de 
    kuculmesi icin yuzdelik padding-bottom degeri */
    padding-bottom: 70%;
}

.content::after{
    content: "";
    display: table;
    clear: both;
}

#footer{
    /* footer'in content div'inden uzaklasmasi icin */
    margin-top:20px;
    
    /* footer'in onceki nesnelerden kalan float etkisinden kurtulmasi icin verildi. */
    float: right;
    
    /* footer ekranin yatayda tamamini kaplamalidir. */
    width: 100%;
    
    /* footer'in dikeyde govdeye sahip olmasi icin verildi. */
    padding: 5%;

    /* arka plan, text hizalama, yazi rengi ayarlama */
    background-color: rgb(43, 43, 43);
    text-align: center;
    color: white;
}

/* 700px'in altina dusersen sidebar'daki nesneleri gosterme
    ve content genel div'ini genislet. */
@media screen and (max-width:700px){
    #aboutme,#popularpost,#followme{
        display: none;
    }

    .content{
        width: 85%;
    }
}